<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiiagramrAPI" version="1.0.7" targetFramework="net461" />
  <package id="Fody" version="3.2.16" targetFramework="net461" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net461" developmentDependency="true" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="Stylet" version="1.1.22" targetFramework="net461" />
</packages>
